<template>
  <span class="mr-1 ml-1">
    <b-button variant="outline-danger" size="sm" @click="showModal()">
      <b-icon icon="trash"></b-icon>
    </b-button>
  </span>
</template>

<script>
import CompanyService from "@/services/CompanyService";

export default {
  name: "CompanyDeleteButton",
  components: {},
  props: ["companyProp"],
  data() {
    return {
      company: null,
    };
  },
  methods: {
    showModal() {
      this.$bvModal
        .msgBoxConfirm(`Are you sure? for delete ${this.company.name}`, {
          title: "Please Confirm",
          okTitle: "YES",
          cancelTitle: "NO",
        })
        .then(async (value) => {
          if (value) {
            const response = await CompanyService.deleteCompany({
              _id: this.company._id,
            });
            if (response && response.success) {
              this.$emit("on-delete-success");
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  watch: {
    companyProp: function () {
      this.company = this.companyProp;
    },
  },
  async created() {
    this.company = this.companyProp;
  },
};
</script>
