<template>
  <div>
    <b-button variant="outline-primary" @click="showModal()">
      New Company
    </b-button>
    <b-modal
      ref="company-modal"
      id="company-modal"
      title="Create Company"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          id="name-group"
          label="Name :"
          label-for="name-input"
          :invalid-feedback="companyState.name.message"
        >
          <b-form-input
            id="name-input"
            v-model="companyForm.name"
            :state="companyState.name.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="specify-group"
          label="Specify :"
          label-for="specify-input"
          :invalid-feedback="companyState.specify.message"
        >
          <b-form-input
            id="specify-input"
            v-model="companyForm.specify"
            :state="companyState.specify.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import CompanyService from "@/services/CompanyService";
import ValidateService from "@/services/ValidateService";

export default {
  name: "CompanyCreateButton",
  components: {},
  data() {
    return {
      companyForm: {
        name: "",
        specify: "",
      },
      companyState: {
        name: {
          valid: null,
          message: "",
        },
        specify: {
          valid: null,
          message: "",
        },
      },
    };
  },
  methods: {
    showModal() {
      this.$bvModal.show(`company-modal`);
    },
    hideModal() {
      this.$bvModal.hide(`company-modal`);
    },
    resetModal() {
      this.companyForm = {
        name: "",
        specify: "",
      };
      this.companyState = {
        name: {
          valid: null,
          message: "",
        },
        specify: {
          valid: null,
          message: "",
        },
      };
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      await this.handleSubmit();
    },
    async handleSubmit() {
      if (!this.isValidForm()) {
        return;
      }

      const response = await CompanyService.createCompany({
        ...this.companyForm,
      });

      if (response.success) {
        this.$bvModal.hide(`company-modal`);
        this.$emit("on-create-success");
        this.$notify({ type: "success", text: `${response.message}` });
      } else {
        this.isValidForm(response.message);
        this.$notify({ type: "error", text: `${response.message}` });
      }
    },
    isValidForm(responseMessage = "") {
      let valid = true;
      if (responseMessage) {
        for (let key in this.companyState) {
          if (responseMessage.toLowerCase().indexOf(key) > -1) {
            this.companyState[key].message = responseMessage.toLowerCase();
            this.companyState[key].valid = false;
            valid = false;
          }
        }
      } else {
        for (let key in this.companyState) {
          this.companyState[key].message = ValidateService.mapCompanyFormError(
            key,
            this.companyForm[key]
          );
          this.companyState[key].valid = !this.companyState[key].message
            ? true
            : false;

          if (this.companyState[key].valid === false) {
            valid = false;
          }
        }
      }
      return valid;
    },
  },
  async created() {},
};
</script>
