<template>
  <div class="w-100">
    <b-input-group>
      <template #append>
        <b-button variant="info" @click="show = !show">
          <b-icon :icon="icon"></b-icon>
        </b-button>
      </template>
      <b-form-input
        :type="inputType"
        :id="idVal"
        v-model="inputVal"
        :state="stateVal"
        autocomplete="off"
      ></b-form-input>
    </b-input-group>
    <small class="text-danger">
      {{ invalidFeedbackVal }}
    </small>
  </div>
</template>

<script>
export default {
  name: "InputPassword",
  components: {},
  props: ["value", "id", "state", "invalidFeedback"],
  data() {
    return {
      show: false,
    };
  },
  computed: {
    inputType: {
      get() {
        return this.show ? "text" : "password";
      },
    },
    icon: {
      get() {
        return this.show ? "eye-slash-fill" : "eye-fill";
      },
    },
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
    idVal: {
      get() {
        return this.id;
      },
    },
    stateVal: {
      get() {
        return this.state;
      },
    },
    invalidFeedbackVal: {
      get() {
        return this.invalidFeedback;
      },
    },
  },
};
</script>
