<template>
  <span class="mr-1 ml-1">
    <b-button variant="outline-primary" size="sm" @click="showModal()">
      <b-icon icon="pencil"></b-icon>
    </b-button>
    <b-modal
      :ref="`edit-user-modal-${user._id}`"
      :id="`edit-user-modal-${user._id}`"
      title="Edit User"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          id="email-group"
          label="Email :"
          label-for="email-input"
          :invalid-feedback="userState.email.message"
        >
          <b-form-input
            id="email-input"
            v-model="userForm.email"
            :state="userState.email.valid"
            autocomplete="off"
            :disabled="true"
            :readonly="true"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="name-group"
          label="Name :"
          label-for="name-input"
          :invalid-feedback="userState.name.message"
        >
          <b-form-input
            id="name-input"
            v-model="userForm.name"
            :state="userState.name.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="tel-group"
          label="Tel :"
          label-for="tel-input"
          :invalid-feedback="userState.tel.message"
        >
          <b-form-input
            id="tel-input"
            v-model="userForm.tel"
            :state="userState.tel.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="permission-group"
          label="Permission :"
          label-for="permission-input"
        >
          <b-form-select
            id="input-room"
            v-model="userForm.permission"
            :options="permissionOptions"
            :readonly="isProfileProp"
            :disabled="isProfileProp"
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>
  </span>
</template>

<script>
import UserService from "@/services/UserService";
import ValidateService from "@/services/ValidateService";

export default {
  name: "UserEditButton",
  components: {},
  props: ["companyProp", "userProp", "isProfileProp"],
  data() {
    return {
      user: {},
      permissionOptions: [
        { value: "user", text: "User" },
        { value: "admin", text: "Admin" },
      ],
      userForm: {
        email: "",
        name: "",
        tel: "",
        permission: "",
        company: "",
      },
      userState: {
        email: {
          valid: null,
          message: "",
        },
        name: {
          valid: null,
          message: "",
        },
        tel: {
          valid: null,
          message: "",
        },
      },
    };
  },
  methods: {
    showModal() {
      this.$bvModal.show(`edit-user-modal-${this.user._id}`);
    },
    hideModal() {
      this.$bvModal.hide(`edit-user-modal-${this.user._id}`);
    },
    resetModal() {
      this.resetUserForm();
    },
    resetUserForm() {
      this.userForm = {
        email: this.user.email,
        name: this.user.name,
        tel: this.user.tel,
        permission: this.user.permission,
        company: this.companyProp,
      };

      this.userState = {
        email: {
          valid: null,
          message: "",
        },
        name: {
          valid: null,
          message: "",
        },
        tel: {
          valid: null,
          message: "",
        },
      };
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      await this.handleSubmit();
    },
    async handleSubmit() {
      if (!this.isValidForm()) {
        return;
      }

      const response = await UserService.editUser({
        ...this.userForm,
        _id: this.user._id,
      });

      if (response.success) {
        this.$bvModal.hide(`edit-user-modal-${this.user._id}`);
        this.$emit("on-create-success");
        this.$notify({ type: "success", text: `${response.message}` });
      } else {
        this.isValidForm(response.messagei);
        this.$notify({ type: "error", text: `${response.message}` });
      }
    },
    isValidForm(responseMessage = "") {
      let valid = true;
      if (responseMessage) {
        for (let key in this.userState) {
          if (responseMessage.toLowerCase().indexOf(key) > -1) {
            this.userState[key].message = responseMessage.toLowerCase();
            this.userState[key].valid = false;
            valid = false;
          }
        }
      } else {
        for (let key in this.userState) {
          this.userState[key].message =
            key === "re_password"
              ? ValidateService.mapUserFormError(
                  key,
                  this.userForm[key],
                  this.userForm.password
                )
              : ValidateService.mapUserFormError(key, this.userForm[key]);
          this.userState[key].valid = !this.userState[key].message
            ? true
            : false;

          if (this.userState[key].valid === false) {
            valid = false;
          }
        }
      }
      return valid;
    },
  },
  watch: {
    companyProp: function () {
      this.userForm.company = this.companyProp;
      this.resetUserForm();
    },
    userProp: function () {
      this.user = this.userProp;
    },
  },
  async created() {
    this.user = this.userProp;
    this.userForm.company = this.companyProp;
    if (
      !this.companyProp &&
      localStorage.getItem("user") &&
      JSON.parse(localStorage.getItem("user")).permission === "super_admin"
    ) {
      this.permissionOptions = [{ value: "super_admin", text: "Super Admin" }];
    }
    this.resetUserForm();
  },
};
</script>
