<template>
  <span class="mr-1 ml-1">
    <b-button variant="outline-secondary" size="sm" @click="showModal()">
      <b-icon icon="key"></b-icon>
    </b-button>
    <b-modal
      :ref="`reset-password-user-modal-${user._id}`"
      :id="`reset-password-user-modal-${user._id}`"
      title="Reset Password"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          id="email-group"
          label="Email :"
          label-for="email-input"
          :invalid-feedback="userState.email.message"
        >
          <b-form-input
            id="email-input"
            v-model="userForm.email"
            :state="userState.email.valid"
            autocomplete="off"
            :disabled="true"
            :readonly="true"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="password-group"
          label="Password :"
          label-for="password-input"
          :invalid-feedback="userState.password.message"
        >
          <InputPassword
            :value="userForm.password"
            id="password-input"
            :state="userState.password.valid"
            :invalidFeedback="userState.password.message"
            @input="userForm.password = $event"
          />
        </b-form-group>
        <b-form-group
          id="re_password-group"
          label="Re password :"
          label-for="re_password-input"
          :invalid-feedback="userState.re_password.message"
        >
          <InputPassword
            :value="userForm.re_password"
            id="re_password-input"
            :state="userState.re_password.valid"
            :invalidFeedback="userState.re_password.message"
            @input="userForm.re_password = $event"
          />
        </b-form-group>
      </form>
    </b-modal>
  </span>
</template>

<script>
import UserService from "@/services/UserService";
import ValidateService from "@/services/ValidateService";
import InputPassword from "./InputPassword.vue";

export default {
  name: "UserResetPasswordButton",
  components: { InputPassword },
  props: ["userProp"],
  data() {
    return {
      user: {},
      permissionOptions: [
        { value: "user", text: "User" },
        { value: "admin", text: "Admin" },
      ],
      userForm: {
        email: "",
        password: "",
        re_password: "",
      },
      userState: {
        email: {
          valid: null,
          message: "",
        },
        password: {
          valid: null,
          message: "",
        },
        re_password: {
          valid: null,
          message: "",
        },
      },
    };
  },
  methods: {
    showModal() {
      this.$bvModal.show(`reset-password-user-modal-${this.user._id}`);
    },
    hideModal() {
      this.$bvModal.hide(`reset-password-user-modal-${this.user._id}`);
    },
    resetModal() {
      this.resetUserForm();
    },
    resetUserForm() {
      this.userForm = {
        email: this.user.email,
        password: "",
        re_password: "",
      };

      this.userState = {
        email: {
          valid: null,
          message: "",
        },
        password: {
          valid: null,
          message: "",
        },
        re_password: {
          valid: null,
          message: "",
        },
      };
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      await this.handleSubmit();
    },
    async handleSubmit() {
      if (!this.isValidForm()) {
        return;
      }

      const response = await UserService.resetPassword({
        ...this.userForm,
        _id: this.user._id,
      });

      if (response.success) {
        this.$bvModal.hide(`reset-password-user-modal-${this.user._id}`);
        this.$notify({ type: "success", text: `${response.message}` });
      } else {
        this.isValidForm(response.messagei);
        this.$notify({ type: "error", text: `${response.message}` });
      }
    },
    isValidForm(responseMessage = "") {
      let valid = true;
      if (responseMessage) {
        for (let key in this.userState) {
          if (responseMessage.toLowerCase().indexOf(key) > -1) {
            this.userState[key].message = responseMessage.toLowerCase();
            this.userState[key].valid = false;
            valid = false;
          }
        }
      } else {
        for (let key in this.userState) {
          this.userState[key].message =
            key === "re_password"
              ? ValidateService.mapUserFormError(
                  key,
                  this.userForm[key],
                  this.userForm.password
                )
              : ValidateService.mapUserFormError(key, this.userForm[key]);
          this.userState[key].valid = !this.userState[key].message
            ? true
            : false;

          if (this.userState[key].valid === false) {
            valid = false;
          }
        }
      }
      return valid;
    },
  },
  watch: {
    userProp: function () {
      this.user = this.userProp;
      this.resetUserForm();
    },
  },
  async created() {
    this.user = this.userProp;
    this.resetUserForm();
  },
};
</script>
