<template>
  <span class="mr-1 ml-1">
    <b-button variant="outline-danger" size="sm" @click="showModal()">
      <b-icon icon="trash"></b-icon>
    </b-button>
  </span>
</template>

<script>
import UserService from "@/services/UserService";

export default {
  name: "UserDeleteButton",
  components: {},
  props: ["userProp"],
  data() {
    return {
      user: null,
    };
  },
  methods: {
    showModal() {
      this.$bvModal
        .msgBoxConfirm(`Are you sure? for delete ${this.user.email}`, {
          title: "Please Confirm",
          okTitle: "YES",
          cancelTitle: "NO",
        })
        .then(async (value) => {
          if (value) {
            const response = await UserService.deleteUser({
              _id: this.user._id,
            });
            if (response && response.success) {
              this.$emit("on-delete-success");
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  watch: {
    userProp: function () {
      this.user = this.userProp;
    },
  },
  async created() {
    this.user = this.userProp;
  },
};
</script>
