<template>
  <div>
    <b-button variant="outline-primary" @click="showModal()">
      New User
    </b-button>
    <b-modal
      ref="user-modal"
      id="user-modal"
      title="Create User"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          id="email-group"
          label="Email :"
          label-for="email-input"
          :invalid-feedback="userState.email.message"
        >
          <b-form-input
            id="email-input"
            v-model="userForm.email"
            :state="userState.email.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="password-group"
          label="Password :"
          label-for="password-input"
        >
          <InputPassword
            :value="userForm.password"
            id="password-input"
            :state="userState.password.valid"
            :invalidFeedback="userState.password.message"
            @input="userForm.password = $event"
          />
        </b-form-group>
        <b-form-group
          id="re_password-group"
          label="Re password :"
          label-for="re_password-input"
          :invalid-feedback="userState.re_password.message"
        >
          <InputPassword
            :value="userForm.re_password"
            id="re_password-input"
            :state="userState.re_password.valid"
            :invalidFeedback="userState.re_password.message"
            @input="userForm.re_password = $event"
          />
        </b-form-group>
        <b-form-group
          id="name-group"
          label="Name :"
          label-for="name-input"
          :invalid-feedback="userState.name.message"
        >
          <b-form-input
            id="name-input"
            v-model="userForm.name"
            :state="userState.name.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="tel-group"
          label="Tel :"
          label-for="tel-input"
          :invalid-feedback="userState.tel.message"
        >
          <b-form-input
            id="tel-input"
            v-model="userForm.tel"
            :state="userState.tel.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="permission-group"
          label="Permission :"
          label-for="permission-input"
        >
          <b-form-select
            id="input-room"
            v-model="userForm.permission"
            :options="permissionOptions"
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import UserService from "@/services/UserService";
import ValidateService from "@/services/ValidateService";
import InputPassword from "./InputPassword.vue";

export default {
  name: "UserCreateButton",
  components: { InputPassword },
  props: ["companyProp"],
  data() {
    return {
      permissionOptions: [
        { value: "user", text: "User" },
        { value: "admin", text: "Admin" },
      ],
      userForm: {
        email: "",
        password: "",
        re_password: "",
        name: "",
        tel: "",
        permission: "",
        company: "",
      },
      userState: {
        email: {
          valid: null,
          message: "",
        },
        password: {
          valid: null,
          message: "",
        },
        re_password: {
          valid: null,
          message: "",
        },
        name: {
          valid: null,
          message: "",
        },
        tel: {
          valid: null,
          message: "",
        },
      },
    };
  },
  methods: {
    showModal() {
      this.$bvModal.show(`user-modal`);
    },
    hideModal() {
      this.$bvModal.hide(`user-modal`);
    },
    resetModal() {
      this.userForm = {
        email: "",
        password: "",
        re_password: "",
        name: "",
        tel: "",
        permission: this.permissionOptions[0].value,
        company: this.companyProp,
      };
      this.userState = {
        email: {
          valid: null,
          message: "",
        },
        password: {
          valid: null,
          message: "",
        },
        re_password: {
          valid: null,
          message: "",
        },
        name: {
          valid: null,
          message: "",
        },
        tel: {
          valid: null,
          message: "",
        },
      };
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      await this.handleSubmit();
    },
    async handleSubmit() {
      if (!this.isValidForm()) {
        return;
      }

      const response = await UserService.createUser({
        ...this.userForm,
      });

      if (response.success) {
        this.$bvModal.hide(`user-modal`);
        this.$emit("on-create-success");
        this.$notify({ type: "success", text: `${response.message}` });
      } else {
        this.isValidForm(response.message);
        this.$notify({ type: "error", text: `${response.message}` });
      }
    },
    isValidForm(responseMessage = "") {
      let valid = true;
      if (responseMessage) {
        for (let key in this.userState) {
          if (responseMessage.toLowerCase().indexOf(key) > -1) {
            this.userState[key].message = responseMessage.toLowerCase();
            this.userState[key].valid = false;
            valid = false;
          }
        }
      } else {
        for (let key in this.userState) {
          this.userState[key].message =
            key === "re_password"
              ? ValidateService.mapUserFormError(
                  key,
                  this.userForm[key],
                  this.userForm.password
                )
              : ValidateService.mapUserFormError(key, this.userForm[key]);
          this.userState[key].valid = !this.userState[key].message
            ? true
            : false;

          if (this.userState[key].valid === false) {
            valid = false;
          }
        }
      }
      return valid;
    },
  },
  watch: {
    companyProp: function () {
      if (
        !this.companyProp &&
        localStorage.getItem("user") &&
        JSON.parse(localStorage.getItem("user")).permission === "super_admin"
      ) {
        this.permissionOptions = [
          { value: "super_admin", text: "Super Admin" },
        ];
      }

      this.resetModal();
    },
  },
  async created() {
    if (
      !this.companyProp &&
      localStorage.getItem("user") &&
      JSON.parse(localStorage.getItem("user")).permission === "super_admin"
    ) {
      this.permissionOptions = [{ value: "super_admin", text: "Super Admin" }];
    }

    this.resetModal();
  },
};
</script>
