<template>
  <span class="mr-1 ml-1">
    <b-button variant="primary" size="sm" @click="showModal()">
      <b-icon icon="pencil"></b-icon>
    </b-button>
    <b-modal
      :ref="`queue-type-edit-modal-${queueType._id}`"
      :id="`queue-type-edit-modal-${queueType._id}`"
      title="Edit Queue Type"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          id="title-group"
          label="Title :"
          label-for="title-input"
          :invalid-feedback="queueTypeState.title.message"
        >
          <b-form-input
            id="title-input"
            v-model="queueTypeForm.title"
            :state="queueTypeState.title.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="code-group"
          label="Code :"
          label-for="code-input"
          :invalid-feedback="queueTypeState.code.message"
        >
          <b-form-input
            id="code-input"
            v-model="queueTypeForm.code"
            :state="queueTypeState.code.valid"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="description-group"
          label="Description :"
          label-for="description-input"
        >
          <b-form-input
            id="description-input"
            v-model="queueTypeForm.description"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </span>
</template>

<script>
import QueueTypeService from "@/services/QueueTypeService";
import ValidateService from "@/services/ValidateService";

export default {
  name: "QueueTypeEditButton",
  components: {},
  props: ["queueTypeProp"],
  data() {
    return {
      queueType: null,
      queueTypeForm: {
        _id: null,
        title: "",
        code: "",
        description: "",
      },
      queueTypeState: {
        title: {
          valid: null,
          message: "",
        },
        code: {
          valid: null,
          message: "",
        },
      },
    };
  },
  methods: {
    showModal() {
      this.$bvModal.show(`queue-type-edit-modal-${this.queueType._id}`);
    },
    hideModal() {
      this.$bvModal.hide(`queue-type-edit-modal-${this.queueType._id}`);
    },
    resetModal() {
      this.resetQueueTypeForm();
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      await this.handleSubmit();
    },
    async handleSubmit() {
      if (!this.isValidForm()) {
        return;
      }

      const response = await QueueTypeService.editQueueType({
        ...this.queueTypeForm,
      });

      if (response.success) {
        this.$bvModal.hide(`queue-type-edit-modal-${this.queueType._id}`);
        this.$emit("on-edit-success");
        this.$notify({ type: "success", text: `${response.message}` });
      } else {
        this.isValidForm(response.message);
        this.$notify({ type: "error", text: `${response.message}` });
      }
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.queueTypeState = {
        title: this.queueTypeForm.title !== "",
        description: this.queueTypeForm.description !== "",
      };
      return valid;
    },
    resetQueueTypeForm() {
      this.queueTypeForm = {
        _id: this.queueType._id,
        title: this.queueType.title,
        code: this.queueType.code,
        description: this.queueType.description,
      };
      this.queueTypeState = {
        title: {
          valid: null,
          message: "",
        },
        code: {
          valid: null,
          message: "",
        },
      };
    },
    isValidForm(responseMessage = "") {
      let valid = true;
      if (responseMessage) {
        for (let key in this.queueTypeState) {
          if (responseMessage.toLowerCase().indexOf(key) > -1) {
            this.queueTypeState[key].message = responseMessage.toLowerCase();
            this.queueTypeState[key].valid = false;
            valid = false;
          }
        }
      } else {
        for (let key in this.queueTypeState) {
          this.queueTypeState[key].message =
            ValidateService.mapQueueTypeFormError(key, this.queueTypeForm[key]);
          this.queueTypeState[key].valid = !this.queueTypeState[key].message
            ? true
            : false;

          if (this.queueTypeState[key].valid === false) {
            valid = false;
          }
        }
      }
      return valid;
    },
  },
  watch: {
    queueTypeProp: function () {
      this.queueType = this.queueTypeProp;
      this.resetQueueTypeForm();
    },
  },
  async created() {
    this.queueType = this.queueTypeProp;
    this.resetQueueTypeForm();
  },
};
</script>
