<template>
  <span class="mr-1 ml-1">
    <b-button variant="danger" size="sm" @click="showModal()">
      <b-icon icon="trash"></b-icon>
    </b-button>
  </span>
</template>

<script>
import QueueTypeService from "@/services/QueueTypeService";

export default {
  name: "QueueTypeDeleteButton",
  components: {},
  props: ["queueTypeProp"],
  data() {
    return {
      queueType: null,
    };
  },
  methods: {
    showModal() {
      this.$bvModal
        .msgBoxConfirm(`Are you sure? for delete ${this.queueType.title}`, {
          title: "Please Confirm",
          okTitle: "YES",
          cancelTitle: "NO",
        })
        .then(async (value) => {
          if (value) {
            const response = await QueueTypeService.deleteQueueType({
              _id: this.queueType._id,
            });
            if (response && response.success) {
              this.$emit("on-delete-success");
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  watch: {
    queueTypeProp: function () {
      this.queueType = this.queueTypeProp;
    },
  },
  async created() {
    this.queueType = this.queueTypeProp;
  },
};
</script>
