<template>
  <div id="app">
    <b-container fluid class="p-0 vh-100 m-0">
      <Header />
      <b-container fluid class="p-0 content-scroll">
        <b-container>
          <router-view />
        </b-container>
      </b-container>
    </b-container>
    <notifications position="top center" width="375" />
  </div>
</template>

<script>
import Header from "@/components/Header";

export default {
  name: "AppLayout",
  components: {
    Header,
  },

  created() {},
};
</script>

<style>
.content-scroll {
  max-height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}
</style>
