<template>
  <div id="app">
    <b-container fluid class="p-0 vh-100 m-0">
      <router-view />
    </b-container>
    <notifications position="top center" width="375" />
  </div>
</template>

<script>
export default {
  name: "PublicLayout",
  created() {},
};
</script>
