<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <h4>Company</h4>
      <CompanyCreateButton
        @on-create-success="fetchCompanies"
      ></CompanyCreateButton>
    </b-row>
    <b-row class="m-0">
      <b-table :fields="fields" :items="companies" fixed responsive>
        <template #cell(action)="data">
          <b-button
            variant="primary"
            size="sm"
            @click="goToUserManage(data.item._id)"
          >
            <b-icon icon="eye"></b-icon>
          </b-button>
          <CompanyDeleteButton
            :key="`delete-${data.item._id}`"
            :companyProp="data.item"
            @on-delete-success="fetchCompanies"
          ></CompanyDeleteButton>
        </template>
      </b-table>
    </b-row>
  </div>
</template>
<script>
import CompanyCreateButton from "../components/company/CompanyCreateButton.vue";
import CompanyDeleteButton from "../components/company/CompanyDeleteButton.vue";
import CompanyService from "@/services/CompanyService";

export default {
  name: "CompanyManage",
  components: { CompanyCreateButton, CompanyDeleteButton },
  data() {
    return {
      companies: [],
      fields: [
        {
          key: "name",
          label: "Name",
        },
        {
          key: "specify",
          label: "Specify",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
    };
  },
  methods: {
    async fetchCompanies() {
      const companiesResponse = await CompanyService.getCompanies();
      this.companies = companiesResponse.data || [];
    },
    goToUserManage(companyId) {
      this.$router.push(`/company/${companyId}/user`);
    },
  },
  async created() {
    await this.fetchCompanies();
  },
};
</script>
