<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <b-col cols="12" lg="8" class="p-0">
        <h4 class="d-inline">Dashboard</h4>
        <p class="text-muted">{{ headerLabel }}</p>
        <b-row>
          <b-form-group
            v-if="permission === 'super_admin'"
            class="col-12 col-lg-6"
          >
            <VueTypeaheadBootstrap
              :data="companyOptions.map((item) => item.text)"
              v-model="companyAutoSelected"
              placeholder="Overview or select company"
              showOnFocus
              @hit="selectCompanyByAuto()"
            />
          </b-form-group>
        </b-row>
      </b-col>
      <b-col
        cols="12"
        lg="4"
        class="p-0"
        v-if="
          permission !== 'super_admin' ||
          (permission === 'super_admin' && companySelected !== 'overview')
        "
      >
        <b-form-group
          id="filter-group"
          label="Select Period :"
          label-for="filter-select"
        >
          <b-form-select
            id="filter-select"
            v-model="filter.type"
            :options="filterType"
            @change="selectFilter()"
          ></b-form-select>
        </b-form-group>
        <template v-if="filter.type === 'dp'">
          <b-row>
            <b-form-group
              class="col"
              id="start-group"
              label="Start :"
              label-for="start"
            >
              <b-form-datepicker
                id="start"
                v-model="filter.start"
                locale="en"
              ></b-form-datepicker>
            </b-form-group>
            <b-form-group
              class="col"
              id="end-group"
              label="End :"
              label-for="end"
            >
              <b-form-datepicker
                id="end"
                v-model="filter.end"
                locale="en"
              ></b-form-datepicker>
            </b-form-group>
          </b-row>
          <b-row class="m-0 justify-content-end">
            <b-button
              variant="success"
              :disabled="canSubmit"
              @click="fetchDashboard()"
            >
              Submit
            </b-button>
          </b-row>
        </template>
      </b-col>
    </b-row>
    <b-container>
      <b-row class="justify-content-center py-3" v-if="isPending">
        <h5>Loading . . .</h5>
      </b-row>
      <template
        v-if="
          !isPending &&
          permission === 'super_admin' &&
          companySelected === 'overview'
        "
      >
        <b-row class="m-0 mb-3">
          <h4>Overview</h4>
        </b-row>
        <hr />
        <b-row>
          <b-col cols="12" sm="6" lg="6" class="mb-3">
            <b-card>
              <b-card-body class="p-1">
                <p>Company</p>
                <b-row class="justify-content-center">
                  <h1>{{ isObject(dashboard) ? dashboard.company : 0 }}</h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col cols="12" sm="6" lg="6" class="mb-3">
            <b-card>
              <b-card-body class="p-1">
                <p>Queue Created</p>
                <b-row class="justify-content-center">
                  <h1>
                    {{ isObject(dashboard) ? dashboard.queue_created : 0 }}
                  </h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" sm="4" lg="4" class="mb-3">
            <b-card>
              <b-card-body class="p-1">
                <p>User</p>
                <b-row class="justify-content-center">
                  <h1>
                    {{
                      isObject(dashboard) && dashboard.user
                        ? dashboard.user.user
                        : 0
                    }}
                  </h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col cols="12" sm="4" lg="4" class="mb-3">
            <b-card>
              <b-card-body class="p-1">
                <p>Admin</p>
                <b-row class="justify-content-center">
                  <h1>
                    {{
                      isObject(dashboard) && dashboard.user
                        ? dashboard.user.admin
                        : 0
                    }}
                  </h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col cols="12" sm="4" lg="4" class="mb-3">
            <b-card>
              <b-card-body class="p-1">
                <p>Super Admin</p>
                <b-row class="justify-content-center">
                  <h1>
                    {{
                      isObject(dashboard) && dashboard.user
                        ? dashboard.user.super_admin
                        : 0
                    }}
                  </h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </template>
      <template
        v-if="
          !isPending &&
          (permission !== 'super_admin' ||
            (permission === 'super_admin' && companySelected !== 'overview'))
        "
      >
        <b-row class="m-0 mb-3">
          <h4>Overview</h4>
        </b-row>
        <hr />
        <b-row>
          <b-col cols="12" sm="6" lg="4" class="mb-3">
            <b-card border-variant="primary">
              <b-card-body class="p-1">
                <p>All Queue</p>
                <b-row class="justify-content-center">
                  <h1>{{ allQueue }}</h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" sm="6" lg="4" class="mb-3">
            <b-card border-variant="warning">
              <b-card-body class="p-1">
                <p>Waiting</p>
                <b-row class="justify-content-center">
                  <h1>{{ watingQueue }}</h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col cols="12" sm="6" lg="4" class="mb-3">
            <b-card border-variant="success">
              <b-card-body class="p-1">
                <p>Success</p>
                <b-row class="justify-content-center">
                  <h1>{{ successQueue }}</h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col cols="12" sm="6" lg="4" class="mb-3">
            <b-card border-variant="danger">
              <b-card-body class="p-1">
                <p>Destroy</p>
                <b-row class="justify-content-center">
                  <h1>{{ destroyQueue }}</h1>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <template v-if="columnChartOption">
          <b-row class="m-0 mt-3 mb-3">
            <h4>Different by Queue Type</h4>
          </b-row>
          <hr />
          <b-row class="w-100">
            <VueApexCharts
              class="w-100"
              type="bar"
              height="300px"
              width="100%"
              :options="columnChartOption.chartOptions"
              :series="columnChartOption.series"
            ></VueApexCharts>
          </b-row>
        </template>

        <b-row class="m-0 mt-3 mb-3">
          <h4>User Dashboard</h4>
        </b-row>
        <hr />
        <b-row class="m-0 mt-3 mb-3 w-100">
          <b-table :fields="fields" :items="dashboardUser" fixed responsive>
            <template #cell(user)="data"> {{ data.item.user.name }} </template>
          </b-table>
        </b-row>
      </template>
    </b-container>
  </div>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
import DashboardService from "@/services/DashboardService";
import CompanyService from "@/services/CompanyService";
import moment from "moment";
import VueTypeaheadBootstrap from "vue-typeahead-bootstrap";
export default {
  name: "Dashboard",
  components: { VueApexCharts, VueTypeaheadBootstrap },
  data() {
    const now = new Date();
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    const minDate = new Date(today);
    const maxDate = new Date(today);
    return {
      permission: "",
      isPending: false,
      headerLabel: "Today",
      filterType: [
        {
          value: "td",
          text: "Today",
        },
        {
          value: "tm",
          text: "This month",
        },
        {
          value: "ty",
          text: "This year",
        },
        {
          value: "dp",
          text: "Define period",
        },
      ],
      filter: {
        type: "td",
        start: "",
        end: "",
      },
      dashboard: [],
      dashboardUser: [],
      fields: [
        {
          key: "user",
          label: "User",
        },
        {
          key: "success",
          label: "Success",
          thStyle: { width: "10%", textAlign: "center" },
          thClass: "text-center text-success",
          tdClass: "text-center",
        },
        {
          key: "destroy",
          label: "Destroy",
          thStyle: { width: "10%", textAlign: "center" },
          thClass: "text-center text-danger",
          tdClass: "text-center",
        },
      ],
      columnChartOption: null,
      maxStart: maxDate,
      minStart: minDate,
      maxEnd: maxDate,
      minEnd: minDate,
      companyOptions: [],
      companySelected: "overview",
      companyAutoSelected: "Overview",
    };
  },
  methods: {
    async fetchDashboard() {
      this.isPending = true;
      const response = await DashboardService.getDashboard({ ...this.filter });
      if (response.success) {
        this.dashboard = response.data.dashboard;
        this.dashboardUser = response.data.dashboardUser;
      } else {
        this.dashboard = [];
        this.$notify({ type: "error", text: `${response.message}` });
      }
      this.columnChartOption = this.mapColumnChartOption();
      this.headerLabel = this.setHeaderLabel();

      this.isPending = false;
    },
    async fetchDashboardAdmin() {
      this.isPending = true;
      const response = await DashboardService.getDashboardAdmin({
        ...this.filter,
      });
      if (response.success) {
        this.dashboard = response.data;
      } else {
        this.dashboard = [];
        this.$notify({ type: "error", text: `${response.message}` });
      }
      this.headerLabel = this.setHeaderLabel();

      this.isPending = false;
    },
    selectFilter() {
      switch (this.filter.type) {
        case "td":
        case "tm":
        case "ty":
          this.fetchDashboard();
          break;
        case "dp":
          this.filter.start = new Date();
          this.filter.end = new Date();
          break;
        default:
          break;
      }
    },
    mapColumnChartOption() {
      const options = {
        series: [
          {
            name: "Waiting",
            data: this.dashboard.map((item) => item.waiting),
          },
          {
            name: "Success",
            data: this.dashboard.map((item) => item.success),
          },
          {
            name: "Destroy",
            data: this.dashboard.map((item) => item.destroy),
          },
        ],
        chartOptions: {
          chart: {},
          xaxis: {
            categories: this.dashboard.map((item) => item.queueType),
          },
          yaxis: {
            title: {
              text: "Amount",
            },
            labels: {
              formatter: function (value) {
                return Math.floor(value);
              },
            },
          },
          colors: ["#ffc107", "#28a745", "#dc3545"],
        },
      };
      return this.dashboard.length > 0 ? options : null;
    },
    setHeaderLabel() {
      if (
        this.permission === "super_admin" &&
        this.companySelected === "overview"
      ) {
        return "Overview";
      } else {
        switch (this.filter.type) {
          case "td":
            return "Today";
          case "tm":
            return "This month";
          case "ty":
            return "This year";
          case "dp":
            return `${moment(this.filter.start).format(
              "DD/MM/YYYY"
            )} to ${moment(this.filter.end).format("DD/MM/YYYY")}`;
          default:
            return "";
        }
      }
    },
    async selectCompany() {
      if (this.companySelected === "overview") {
        await this.fetchDashboardAdmin();
      } else {
        localStorage.setItem(
          "companySelected",
          JSON.stringify(
            this.companies.find(
              (company) => company._id === this.companySelected
            )
          )
        );
        await this.fetchDashboard();
      }
    },
    isObject(value) {
      return typeof value === "object";
    },
    async selectCompanyByAuto() {
      this.companySelected = this.companyOptions.find(
        (item) => item.text === this.companyAutoSelected
      ).value;
      await this.selectCompany();
    },
  },
  computed: {
    allQueue() {
      if (!(this.dashboard instanceof Array)) return 0;
      return this.dashboard.reduce((accumulator, object) => {
        return accumulator + object.waiting + object.success + object.destroy;
      }, 0);
    },
    watingQueue() {
      if (!(this.dashboard instanceof Array)) return 0;
      return this.dashboard.reduce((accumulator, object) => {
        return accumulator + object.waiting;
      }, 0);
    },
    successQueue() {
      if (!(this.dashboard instanceof Array)) return 0;
      return this.dashboard.reduce((accumulator, object) => {
        return accumulator + object.success;
      }, 0);
    },
    destroyQueue() {
      if (!(this.dashboard instanceof Array)) return 0;
      return this.dashboard.reduce((accumulator, object) => {
        return accumulator + object.destroy;
      }, 0);
    },
    canSubmit() {
      if (this.filter.start && this.filter.end) {
        const start = new Date(this.filter.start);
        const end = new Date(this.filter.end);
        if (start.getTime() <= end.getTime()) {
          return false;
        }
      }

      return true;
    },
  },
  async created() {
    const user = localStorage.getItem("user")
      ? JSON.parse(localStorage.getItem("user"))
      : null;
    if (user) {
      this.permission = user.permission;
      if (user.permission !== "super_admin") {
        localStorage.setItem("companySelected", JSON.stringify(user.company));
      }
    }

    this.isPending = true;
    const responseCompanies = await CompanyService.getCompanies();
    if (responseCompanies.success) {
      this.companies = responseCompanies.data;
    }
    this.companyOptions = this.companies.map((company) => ({
      value: company._id,
      text: `${company.name} (${company.specify})`,
    }));
    this.companyOptions.unshift({ value: "overview", text: "Overview" });
    this.isPending = false;
    if (this.permission === "super_admin") {
      await this.fetchDashboardAdmin();
    } else {
      await this.fetchDashboard();
    }
  },
};
</script>
