<template>
  <b-container class="vh-100 vw-100 d-flex align-items-center">
    <b-row class="w-100 justify-content-center">
      <b-card header="Login" class="col-12 col-sm-8 col-lg-6 p-0">
        <b-form-group id="email" label="Email :" label-for="email">
          <b-form-input
            id="email"
            v-model="email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group id="password" label="Password :" label-for="password">
          <b-form-input
            id="password"
            v-model="password"
            type="password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
        <b-row class="justify-content-end m-0">
          <b-button @click="login()" variant="primary">Submit</b-button>
        </b-row>
      </b-card>
    </b-row>
  </b-container>
</template>

<script>
import AuthService from "@/services/AuthService";
export default {
  name: "Login",
  components: {},
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    async login() {
      const response = await AuthService.login({
        email: this.email.trim(),
        password: this.password.trim(),
      });
      if (response.success) {
        this.$store.commit("setAccount", response.data);
        localStorage.setItem("company", JSON.stringify(response.data.company));
        localStorage.setItem("token", response.data?.token || "");
        localStorage.setItem("refreshToken", response.data?.refreshToken || "");
        this.$notify({ type: "success", text: response.message });
        this.$router.push({
          name: "Dashboard",
        });
      } else {
        this.$notify({ type: "error", text: response.message });
      }
    },
  },
};
</script>
