<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <h4>My QR Code</h4>
    </b-row>
    <b-container>
      <b-row>
        <b-col
          cols="12"
          lg="6"
          v-for="menu in menuList"
          :key="menu.label"
          class="p-0 mb-4"
        >
          <h5 class="pb-2">
            {{ menu.label }}
          </h5>
          <qrcode-vue
            :id="menu.key"
            :value="menu.baseURL"
            size="350"
            level="H"
          />
          <b-row class="mr-0 ml-0 pt-2">
            <a class="btn btn-success" @click="toDataURL(menu.key)">Save</a>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import QrcodeVue from "qrcode.vue";

export default {
  name: "MyQR",
  components: {
    QrcodeVue,
  },
  data() {
    return {
      menuList: [
        {
          key: "queue-register",
          label: "Queue Register",
          baseURL:
            window.location.origin +
            "/queue-register?company=" +
            JSON.parse(localStorage.getItem("company"))?._id,
        },
        {
          key: "queue-detail",
          label: "Check Queue Detail",
          baseURL: window.location.origin + "/queue",
        },
      ],
    };
  },
  methods: {
    toDataURL(keyId) {
      const url =
        document
          .getElementById(keyId)
          ?.getElementsByTagName("canvas")[0]
          ?.toDataURL() || "";

      const link = document.createElement("a");
      document.body.appendChild(link);

      link.href = url;
      link.target = "_self";
      link.fileName = `qr-${keyId}.png`;
      link.download = `qr-${keyId}.png`;
      link.click();
    },
  },
};
</script>
