<template>
  <b-container fluid class="p-0">
    <b-container>
      <div class="pt-2 pb-2">
        <b-row>
          <b-col class="justify-content-center text-center pt-5">
            <img :src="image" style="max-width: 300px" />
            <h1 class="mt-5 mb-3">Sorry !</h1>
            <h3>Page Not Found.</h3>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </b-container>
</template>

<script>
import image from "@/assets/404-error.png";
export default {
  name: "NotFound",
  data() {
    return {
      image: image,
    };
  },
};
</script>
