<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <h4 class="d-inline">Profile</h4>
      <div>
        <UserEditButton
          @on-create-success="fetchUser"
          :companyProp="$store.state.account.company"
          :userProp="$store.state.account"
          :isProfileProp="true"
        ></UserEditButton>
        <UserResetPasswordButton
          :userProp="$store.state.account"
        ></UserResetPasswordButton>
      </div>
    </b-row>
    <b-container class="p-0">
      <b-row class="mb-3">
        <b-col cols="4">
          <strong>Email</strong>
        </b-col>
        <b-col cols="8">
          {{ $store.state.account.email }}
        </b-col>
      </b-row>
      <b-row class="mb-3">
        <b-col cols="4">
          <strong>Name</strong>
        </b-col>
        <b-col cols="8">
          {{ $store.state.account.name }}
        </b-col>
      </b-row>
      <b-row class="mb-3">
        <b-col cols="4">
          <strong>Tel</strong>
        </b-col>
        <b-col cols="8">
          {{ $store.state.account.tel }}
        </b-col>
      </b-row>
      <b-row class="mb-3">
        <b-col cols="4">
          <strong>Permission</strong>
        </b-col>
        <b-col cols="8">
          {{ $store.state.account.permission }}
        </b-col>
      </b-row>
      <b-row class="mb-3" v-if="$store.state.account.company">
        <b-col cols="4">
          <strong>Company</strong>
        </b-col>
        <b-col cols="8">
          {{ $store.state.account.company.name }}
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import UserService from "@/services/UserService";
import UserEditButton from "@/components/user/UserEditButton";
import UserResetPasswordButton from "@/components/user/UserResetPasswordButton";

export default {
  name: "Profile",
  components: {
    UserEditButton,
    UserResetPasswordButton,
  },
  data() {
    return {};
  },
  methods: {
    async fetchUser() {
      const response = await UserService.getUser(this.$store.state.account._id);
      if (response.success) {
        this.$store.commit("setAccount", response.data);
      }
    },
  },
  async created() {
    await this.fetchUser();
  },
};
</script>
