<template>
  <b-container fluid class="p-0">
    <b-container>
      <div class="pt-2 pb-2">
        <section v-if="isPending && companies.length === 0">
          <b-row class="justify-content-center py-3">
            <h5>Loading . . .</h5>
          </b-row>
        </section>
        <section v-else-if="!isPending && companies.length > 0">
          <b-row class="m-0 justify-content-between py-3">
            <h3>Register for Queue</h3>
          </b-row>
          <hr />
          <b-row class="m-0 justify-content-between py-3">
            <h5>Select Company</h5>
          </b-row>
          <b-row class="mb-3">
            <b-form-group class="col">
              <VueTypeaheadBootstrap
                :data="companyOptions.map((item) => item.text)"
                v-model="companyAutoSelected"
                placeholder="Select company"
                showOnFocus
                :readOnly="hasCompanyFromURL"
                :disabled="hasCompanyFromURL"
                @hit="selectCompanyByAuto()"
              />
            </b-form-group>
          </b-row>
          <template
            v-if="
              companySelected &&
              !isPendingAfterCompany &&
              isOpenQueue &&
              queueTypes.length > 0
            "
          >
            <b-row class="m-0 justify-content-between py-3">
              <h5>What you want to do ?</h5>
            </b-row>
            <b-row class="mb-3">
              <b-col
                v-for="type in queueTypes"
                :key="type._id"
                cols="12"
                sm="6"
                lg="4"
                class="mb-1"
              >
                <b-card
                  @click="selectQueueType(type._id)"
                  class="link"
                  :border-variant="
                    queueForm.queueTypeId === type._id ? 'success' : ''
                  "
                >
                  <b-card-body>
                    <h5>{{ type.title }}</h5>
                    <p class="text-muted">{{ type.description }}</p>
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <b-row class="m-0 justify-content-between py-3">
              <h5>Press your information</h5>
            </b-row>
            <b-row class="mb-3">
              <b-form-group
                id="input-group-name"
                label="Name :"
                label-for="input-name"
                class="mb-2 col-12 col-sm-6"
              >
                <b-form-input
                  id="input-name"
                  v-model="queueForm.name"
                  type="text"
                  placeholder="Enter name"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-tel"
                label="Phone Number:"
                label-for="input-tel"
                class="mb-2 col-12 col-sm-6"
              >
                <b-form-input
                  id="input-tel"
                  v-model="queueForm.tel"
                  type="text"
                  placeholder="Enter phone number"
                  required
                  @change="validate()"
                ></b-form-input>
                <small class="text-danger">
                  {{ telErrorMessage }}
                </small>
              </b-form-group>
            </b-row>
            <b-row class="m-0 justify-content-end">
              <b-button
                variant="success"
                @click="onSubmit()"
                :disabled="isPendingSubmit"
                >Submit</b-button
              >
            </b-row>
          </template>
          <b-row
            class="m-0 justify-content-center py-3"
            v-if="
              companySelected &&
              !isPendingAfterCompany &&
              (!isOpenQueue || queueTypes.length === 0)
            "
          >
            <b-alert show variant="danger" class="text-center w-100">
              <h5>Not ready for register queue !</h5>
            </b-alert>
          </b-row>
          <b-row
            class="justify-content-center py-3"
            v-if="isPendingAfterCompany"
          >
            <h5>Loading . . .</h5>
          </b-row>
        </section>
        <section v-else>
          <b-row class="m-0 justify-content-center py-3">
            <b-alert show variant="danger" class="text-center w-100">
              <h5>Not found company for register queue !</h5>
            </b-alert>
          </b-row>
        </section>
      </div>
    </b-container>
  </b-container>
</template>

<script>
import QueueTypeService from "@/services/QueueTypeService";
import QueueService from "@/services/QueueService";
import SettingService from "@/services/SettingService";
import CompanyService from "@/services/CompanyService";
import VueTypeaheadBootstrap from "vue-typeahead-bootstrap";

export default {
  name: "QueueRegister",
  components: { VueTypeaheadBootstrap },
  data() {
    return {
      isOpenQueue: false,
      isPending: false,
      isPendingAfterCompany: false,
      isPendingSubmit: false,
      companies: [],
      companySelected: "",
      companyAutoSelected: "",
      companyOptions: [],
      queueTypes: [],
      queueForm: {
        queueTypeId: null,
        name: "",
        tel: "",
      },
      hasCompanyFromURL: false,
      telErrorMessage: "",
    };
  },
  methods: {
    validate() {
      if (this.queueForm.tel !== "") {
        if (!this.queueForm.tel.match(/^[0-9]*$/)) {
          this.telErrorMessage = "phone number should be number only.";
          return false;
        } else if (
          this.queueForm.tel.length < 9 ||
          this.queueForm.tel.length > 10
        ) {
          this.telErrorMessage = "phone number should be 9 - 10 charactor.";
          return false;
        }
      }

      this.telErrorMessage = "";

      return true;
    },
    async selectCompanyByAuto() {
      this.companySelected = this.companyOptions.find(
        (item) => item.text === this.companyAutoSelected
      ).value;
      await this.onCompanySelectedChange();
    },
    async onCompanySelectedChange() {
      if (!this.companySelected) return;
      this.isPendingAfterCompany = true;
      localStorage.setItem(
        "companySelected",
        JSON.stringify(
          this.companies.find((company) => company._id === this.companySelected)
        )
      );
      this.isOpenQueue = (await SettingService.isOpenQueue()).data || false;
      if (this.isOpenQueue) {
        this.queueTypes = (await QueueTypeService.getQueueTypes()).data || [];
      }
      setTimeout(() => {
        this.isPendingAfterCompany = false;
      }, 1000);
    },
    async selectQueueType(queueTypeId) {
      this.queueForm.queueTypeId = queueTypeId;
    },
    async onSubmit() {
      if (!this.validate()) {
        this.$notify({ type: "error", text: this.telErrorMessage });
        return;
      }
      if (!this.queueForm.queueTypeId) {
        this.$notify({ type: "error", text: `Please select you want to do !` });
        return;
      }

      this.isPendingSubmit = true;
      const response = await QueueService.createQueue({
        ...this.queueForm,
        company: this.companySelected,
      });
      if (response && response.success && response.data._id) {
        this.$notify({ type: "success", text: `${response.message}` });
        this.$root.socket.emit("create_queue");
        localStorage.setItem("lastRegisterQueue", response.data._id);
        this.$router.push({
          name: "QueueDetail",
          params: { queueId: response.data._id },
        });
      } else {
        this.$notify({ type: "error", text: `${response.message}` });
        this.isPendingSubmit = false;
      }
    },
  },
  async created() {
    this.isPending = true;
    const responseCompanies = await CompanyService.getCompanies();
    if (responseCompanies.success) {
      this.companies = responseCompanies.data;
    }
    this.companyOptions = this.companies.map((company) => ({
      value: company._id,
      text: `${company.name} (${company.specify})`,
    }));

    const companyId = this.$route.query.company;
    if (companyId) {
      this.hasCompanyFromURL = true;
      const existCompany = this.companies.find(
        (value) => value._id === companyId
      );

      if (existCompany) {
        this.companyAutoSelected = this.companyOptions.find(
          (item) => item.value === companyId
        ).text;
        this.companySelected = companyId;
        this.onCompanySelectedChange();
      } else {
        this.$router.push({
          name: "NotFound",
        });
      }
    }
    this.isPending = false;
  },
  metaInfo() {
    return {
      title: "Queue - Register",
    };
  },
};
</script>

<style scoped>
.link:hover {
  cursor: pointer;
}
</style>
