<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <h4>Queue Types</h4>
      <QueueTypeCreateButton
        v-if="permission === 'admin'"
        @on-create-success="fetchQueueTypes"
      ></QueueTypeCreateButton>
    </b-row>
    <b-row class="m-0">
      <b-table :fields="fields" :items="queueTypes" fixed responsive>
        <template #cell(description)="data">
          {{ data.item.description || "-" }}
        </template>
        <template #cell(action)="data">
          <QueueTypeEditButton
            :key="`edit-${data.item._id}`"
            :queueTypeProp="data.item"
            @on-edit-success="fetchQueueTypes"
          ></QueueTypeEditButton>
          <QueueTypeDeleteButton
            :key="`delete-${data.item._id}`"
            :queueTypeProp="data.item"
            @on-delete-success="fetchQueueTypes"
          ></QueueTypeDeleteButton>
        </template>
      </b-table>
    </b-row>
  </div>
</template>

<script>
import QueueTypeService from "@/services/QueueTypeService";
import QueueTypeCreateButton from "@/components/queue-type/QueueTypeCreateButton";
import QueueTypeEditButton from "@/components/queue-type/QueueTypeEditButton";
import QueueTypeDeleteButton from "@/components/queue-type/QueueTypeDeleteButton";

export default {
  name: "QueueTypeManage",
  components: {
    QueueTypeCreateButton,
    QueueTypeEditButton,
    QueueTypeDeleteButton,
  },
  data() {
    return {
      permission: "",
      queueTypes: [],
      fields: [
        {
          key: "title",
          label: "Title",
        },
        {
          key: "code",
          label: "Code",
        },
        {
          key: "description",
          label: "Description",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
    };
  },
  methods: {
    async fetchQueueTypes() {
      const queueTypesResponse = await QueueTypeService.getQueueTypes();
      this.queueTypes = [];
      this.queueTypes = queueTypesResponse.data || [];
    },
  },
  async created() {
    if (this.$store.state.account) {
      this.permission = this.$store.state.account.permission;
      if (this.$store.state.account.permission !== "admin") {
        this.fields = this.fields.slice(0, this.fields.length - 1);
      }
    }
    await this.fetchQueueTypes();
  },
};
</script>
