<template>
  <b-container fluid class="p-0">
    <b-container>
      <div class="pt-2 pb-2">
        <section v-if="isPending">
          <b-row class="justify-content-center py-3">
            <h5>Loading . . .</h5>
          </b-row>
        </section>
        <section v-if="!isPending && queue">
          <b-row class="m-0 justify-content-between py-3">
            <h3>My Queue</h3>
          </b-row>
          <b-row class="m-0 justify-content-center">
            <b-card
              class="col-12 p-0"
              :footer="`created at ${formatDate(queue.createdAt)}`"
              footer-class="text-center"
            >
              <b-card-body>
                <b-row class="justify-content-center py-5">
                  <h1>
                    {{ `${queue.noForQueueType}${queue.queueType.code}` }}
                  </h1>
                </b-row>
                <b-row class="justify-content-center pb-3">
                  <h5>{{ queue.queueType.title }}</h5>
                </b-row>
                <b-row class="justify-content-center">
                  <b-card class="w-100">
                    <b-card-body class="p-1">
                      <section>
                        <h6 class="text-muted">Contact</h6>
                        <hr class="m-0" />
                        <p class="text-muted">
                          {{ queue.name || "" }}
                          <span v-if="queue.tel">({{ queue.tel }})</span>
                        </p>
                      </section>
                      <section class="mt-4">
                        <h6 class="text-muted">Queue Status</h6>
                        <hr class="m-0" />
                        <p class="text-muted m-0">
                          company: {{ queue.company.name }} ({{
                            queue.company.specify
                          }})
                        </p>
                        <p
                          class="text-muted"
                          v-if="queue.waiting && !queue.doingAt"
                        >
                          status:
                          <span class="text-dark font-weight-bold">
                            waiting
                          </span>
                        </p>
                        <p
                          class="text-muted"
                          v-if="queue.waiting && queue.doingAt"
                        >
                          status:
                          <span class="text-dark font-weight-bold">
                            in progress (Room {{ queue.doingAt.number }})
                          </span>
                        </p>
                        <p
                          class="text-muted"
                          v-if="!queue.waiting && queue.successBy"
                        >
                          status:
                          <span class="text-success font-weight-bold">
                            success
                          </span>
                        </p>
                        <p
                          class="text-muted"
                          v-if="!queue.waiting && !queue.successBy"
                        >
                          status:
                          <span class="text-danger font-weight-bold">
                            destroy
                          </span>
                        </p>
                      </section>
                    </b-card-body>
                  </b-card>
                </b-row>
              </b-card-body>
            </b-card>
          </b-row>
          <b-row class="mt-2 mt-sm-4 justify-content-center">
            <h5
              class="link text-primary font-weight-bold"
              @click="goToQueueMonitoring()"
            >
              Go to Queue Monitoring
            </h5>
          </b-row>
        </section>
        <section v-if="!isPending && !queue">
          <b-row class="m-0 justify-content-center py-3">
            <b-alert show variant="danger" class="text-center w-100">
              <h5>Queue not found !</h5>
            </b-alert>
          </b-row>
        </section>
      </div>
    </b-container>
  </b-container>
</template>

<script>
import QueueService from "@/services/QueueService";
import DateService from "@/services/DateService";

export default {
  name: "QueueDetail",
  components: {},
  data() {
    return {
      isPending: false,
      queue: null,
    };
  },
  methods: {
    formatDate(date) {
      return DateService.toThaiDate(date);
    },
    goToQueueMonitoring() {
      this.$router.push(
        `/queue-monitoring?company=${this.queue.company._id}&back=${this.queue._id}`
      );
    },
  },
  mounted() {
    this.$root.socket.on("next_queue", async (res) => {
      if (
        res.nextQueueId === this.queue._id ||
        res.previousQueueId === this.queue._id
      ) {
        const response = await QueueService.getQueueById(this.queue._id);
        if (response.success) {
          this.queue = response.data;
        } else {
          this.$notify({ type: "error", text: `${response.message}` });
        }
      }
    });
  },
  async created() {
    if (!this.$route.params.queueId) {
      this.$router.push({
        name: "QueueDetail",
        params: { queueId: localStorage.getItem("lastRegisterQueue") },
      });
    }
    this.isPending = true;
    const response = await QueueService.getQueueById(
      this.$route.params.queueId
    );
    if (response.success) {
      this.queue = response.data;
    } else {
      this.$notify({ type: "error", text: `${response.message}` });
    }

    this.isPending = false;
  },
  metaInfo() {
    return {
      title: "Queue - Detail",
    };
  },
};
</script>

<style scoped>
.link:hover {
  cursor: pointer;
}
</style>
