<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <div>
        <h4>
          Queue Monitoring : {{ viewModeLabel }}
          <router-link
            v-if="this.$route.query.back"
            :to="`/queue/${this.$route.query.back}`"
          >
            <button class="ml-3 btn btn-sm btn-primary">
              Back to my queue
            </button>
          </router-link>
        </h4>
        <a class="text-primary link-sp" @click="toggleConfig()">
          {{ showConfigLabel }}
        </a>
      </div>
      <div>
        <b-form-group class="w-100">
          <VueTypeaheadBootstrap
            :data="companyOptions.map((item) => item.text)"
            v-model="companyAutoSelected"
            placeholder="Select company"
            showOnFocus
            @hit="selectCompanyByAuto()"
          />
        </b-form-group>
      </div>
    </b-row>
    <b-container class="p-0" v-if="rooms.length > 0">
      <b-row class="mb-3" v-if="showConfig">
        <b-col cols="12" sm="6" lg="4" class="mb-1">
          <b-card
            @click="selectViewMode('all')"
            class="link"
            :border-variant="viewMode === 'all' ? 'success' : ''"
          >
            <b-card-body>
              <h5>All</h5>
              <p class="text-muted m-0">See queue in all room</p>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col cols="12" sm="6" lg="4" class="mb-1">
          <b-card
            @click="selectViewMode('room')"
            class="link"
            :border-variant="viewMode === 'room' ? 'success' : ''"
          >
            <b-card-body>
              <h5>By Room</h5>
              <p class="text-muted m-0">See queue by room</p>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col cols="12" sm="12" lg="4" class="mb-1" v-if="viewMode === 'room'">
          <b-card
            :border-variant="viewMode === 'room' ? 'success' : ''"
            class="h-100"
          >
            <b-card-body class="p-0">
              <section>
                <b-form-group
                  id="input-room-label"
                  label="Select room :"
                  label-for="input-room"
                >
                  <b-form-select
                    id="input-room"
                    v-model="roomSelected"
                    :options="roomOptions"
                    @change="onRoomSelectedChange()"
                  ></b-form-select>
                </b-form-group>
              </section>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="justify-content-center py-3" v-if="isPendingAfterCompany">
        <h5>Loading . . .</h5>
      </b-row>
      <b-row v-if="!isPendingAfterCompany && viewMode === 'all'">
        <b-col cols="12" lg="6">
          <b-row>
            <b-col
              cols="12"
              sm="6"
              class="mb-3"
              v-for="_room in rooms"
              :key="_room._id"
            >
              <b-card class="w-100 h-100" :header="roomLabel(_room)">
                <b-card-body class="pb-4 pt-4">
                  <b-row class="text-center m-0">
                    <section
                      class="w-100"
                      v-if="
                        _room &&
                        _room.currentQueue &&
                        _room.currentQueue.waiting
                      "
                    >
                      <h1>
                        {{
                          `${_room.currentQueue.noForQueueType}${_room.currentQueue.queueType.code}`
                        }}
                      </h1>
                      <p class="text-muted">
                        {{ _room.currentQueue.queueType.title }}
                      </p>
                    </section>
                    <section class="w-100" v-else>
                      <h1>-</h1>
                    </section>
                  </b-row>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="12" lg="6">
          <h5 class="mb-3">Forward Queue</h5>
          <b-table
            :fields="forwardQueueFields"
            :items="forwardQueues"
            fixed
            responsive
            show-empty
            emptyText="No queue for next !"
          >
            <template #cell(index)="data">
              {{ data.index + 1 }}
            </template>
            <template #cell(queue)="data">
              {{ `${data.item.noForQueueType}${data.item.queueType.code} ` }}
            </template>
            <template #cell(queueType)="data">
              {{ `${data.item.queueType.title} ` }}
            </template>
            <template #empty="scope">
              <p class="text-center">{{ scope.emptyText }}</p>
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row v-if="!isPendingAfterCompany && viewMode === 'room'">
        <b-col cols="12" lg="6">
          <b-card class="w-100 h-100" :header="roomLabel(room)">
            <b-card-body class="pb-4 pt-4">
              <b-row class="text-center m-0">
                <section
                  class="w-100"
                  v-if="room && room.currentQueue && room.currentQueue.waiting"
                >
                  <h1>
                    {{
                      `${room.currentQueue.noForQueueType}${room.currentQueue.queueType.code}`
                    }}
                  </h1>
                  <p class="text-muted">
                    {{ room.currentQueue.queueType.title }}
                  </p>
                </section>
                <section class="w-100" v-else>
                  <h1>-</h1>
                </section>
              </b-row>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col cols="12" lg="6">
          <h5 class="mb-3">Forward Queue</h5>
          <b-table
            :fields="forwardQueueFields"
            :items="forwardQueues"
            fixed
            responsive
            show-empty
            emptyText="No queue for next !"
          >
            <template #cell(index)="data">
              {{ data.index + 1 }}
            </template>
            <template #cell(queue)="data">
              {{ `${data.item.noForQueueType}${data.item.queueType.code} ` }}
            </template>
            <template #cell(queueType)="data">
              {{ `${data.item.queueType.title} ` }}
            </template>
            <template #empty="scope">
              <p class="text-center">{{ scope.emptyText }}</p>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="p-0" v-else>
      <b-row class="justify-content-center py-3" v-if="isPendingAfterCompany">
        <h5>Loading . . .</h5>
      </b-row>
      <b-row class="justify-content-center py-3" v-else>
        <h5>Not found room.</h5>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import RoomService from "@/services/RoomService";
import CompanyService from "@/services/CompanyService";
import QueueService from "@/services/QueueService";
import VueTypeaheadBootstrap from "vue-typeahead-bootstrap";

export default {
  name: "QueueMonitoring",
  components: { VueTypeaheadBootstrap },
  data() {
    return {
      isPending: false,
      showConfig: true,
      viewMode: "all",
      roomSelected: "",
      rooms: [],
      room: null,
      roomOptions: [{ value: null, text: "???" }],
      isPendingAfterCompany: false,
      companies: [],
      companySelected: "",
      companyAutoSelected: "",
      companyOptions: [{ value: "", text: "Please select company" }],
      forwardQueues: [],
      forwardQueueFields: [
        {
          key: "index",
          label: "No",
        },
        {
          key: "queue",
          label: "Queue",
        },
        {
          key: "queueType",
          label: "Queue Type",
        },
      ],
    };
  },
  methods: {
    async selectCompanyByAuto() {
      this.companySelected = this.companyOptions.find(
        (item) => item.text === this.companyAutoSelected
      ).value;
      await this.onCompanySelectedChange();
    },
    async onCompanySelectedChange() {
      if (!this.companySelected) return;
      this.isPendingAfterCompany = true;
      localStorage.setItem(
        "companySelected",
        JSON.stringify(
          this.companies.find((company) => company._id === this.companySelected)
        )
      );

      if (this.viewMode === "all") {
        await this.fetchRooms();
      } else {
        await this.fetchRoom();
      }
      this.fetchForwardQueue();

      setTimeout(() => {
        this.isPendingAfterCompany = false;
      }, 1000);
    },

    toggleConfig() {
      this.showConfig = !this.showConfig;
    },
    async onRoomSelectedChange() {
      this.isPendingAfterCompany = true;
      await this.fetchRoom();
      await this.fetchForwardQueue();
      this.isPendingAfterCompany = false;
    },
    async selectViewMode(mode) {
      this.isPendingAfterCompany = true;
      this.viewMode = mode;
      if (this.viewMode === "all") {
        await this.fetchRooms();
      } else {
        await this.fetchRoom();
      }
      await this.fetchForwardQueue();
      setTimeout(() => {
        this.isPendingAfterCompany = false;
      }, 1000);
    },
    async fetchRooms() {
      const response = await RoomService.getRooms();
      if (response.success) {
        this.rooms = response.data;
        this.roomOptions = response.data.map((room) => ({
          value: room._id,
          text: `Room ${room.number}`,
        }));
        if (this.rooms.length > 0)
          this.roomSelected = this.roomOptions[0].value;
      } else {
        this.$notify({ type: "error", text: `${response.message}` });
      }
    },
    async fetchRoom() {
      const response = await RoomService.getRoomById(this.roomSelected);
      if (response.success) {
        this.room = response.data;
      } else {
        this.$notify({ type: "error", text: `${response.message}` });
      }
    },
    roomLabel(room) {
      return `Room ${room.number}`;
    },
    async fetchForwardQueue() {
      const response = await QueueService.getForwardQueue(
        this.viewMode === "all" ? "all" : this.roomSelected
      );
      if (response.success) {
        this.forwardQueues = response.data;
      }
    },
  },
  computed: {
    viewModeLabel: function () {
      if (this.viewMode === "all") return "All";
      const room = this.rooms.find((room) => room._id === this.roomSelected);
      return `Room ${room ? room.number : "??"}`;
    },
    showConfigLabel: function () {
      return `${this.showConfig ? "hide" : "show"} configuration`;
    },
  },
  async created() {
    this.isPending = true;
    const responseCompanies = await CompanyService.getCompanies();
    if (responseCompanies.success) {
      this.companies = responseCompanies.data;
    }
    this.companyOptions = this.companies.map((company) => ({
      value: company._id,
      text: `${company.name} (${company.specify})`,
    }));
    // this.companyOptions.unshift({ value: "", text: "Please select company" });

    this.isPending = false;

    const companyId = this.$route.query.company;
    if (companyId) {
      const existCompany = this.companies.find(
        (value) => value._id === companyId
      );

      if (existCompany) {
        this.companySelected = companyId;
        localStorage.setItem("companySelected", JSON.stringify(existCompany));
        this.companyAutoSelected = this.companyOptions.find(
          (item) => item.value === companyId
        ).text;
      }
    } else {
      const companyInLocalStorage = localStorage.getItem("companySelected");
      if (companyInLocalStorage) {
        this.companyAutoSelected = this.companyOptions.find(
          (item) => item.value === JSON.parse(companyInLocalStorage)._id
        ).text;
      } else {
        this.companyAutoSelected =
          this.companyOptions.length > 0 ? this.companyOptions[0].text : "";
        localStorage.setItem(
          "companySelected",
          JSON.stringify(this.companies[0])
        );
      }
    }

    this.isPendingAfterCompany = true;

    await this.fetchRooms();
    await this.fetchForwardQueue();
    setTimeout(() => {
      this.isPendingAfterCompany = false;
    }, 1000);
  },
  mounted() {
    this.$root.socket.on("next_queue", () => {
      if (this.viewMode === "all") {
        this.fetchRooms();
      } else {
        this.fetchRoom();
      }
      this.fetchForwardQueue();
    });
    this.$root.socket.on("create_queue", () => {
      this.fetchForwardQueue();
    });
  },
  metaInfo() {
    return {
      title: "Queue - Monitoring",
    };
  },
};
</script>

<style scoped>
.link:hover {
  cursor: pointer;
}

.link-sp:hover {
  cursor: pointer;
  font-weight: normal !important;
  text-decoration: underline !important;
}
</style>
