<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <h4>Room Management</h4>
      <RoomCreateButton
        v-if="$store.state.account.permission === 'admin' && !isOpenQueue"
        :queueTypesProp="queueTypes"
        :usersProp="users"
        @on-create-success="fetchRooms"
      ></RoomCreateButton>
    </b-row>
    <b-container>
      <b-row>
        <b-col
          :cols="isOpenQueue && rooms.length > 0 ? 4 : 12"
          class="room-menu"
        >
          <template v-if="rooms.length > 0">
            <b-row v-for="room in rooms" :key="room._id" class="mb-1">
              <b-card
                class="w-100"
                :border-variant="room._id === roomSelected ? 'primary' : ''"
              >
                <b-card-body class="row justify-content-between py-1">
                  <div>
                    <h6>Room {{ room.number }}</h6>
                    <div class="mb-1">
                      <span
                        class="badge badge-light mr-1 p-2"
                        v-for="(item, index) in room.queueTypes"
                        :key="room._id + item._id + index"
                      >
                        <p class="d-inline mr-2">{{ item.title }}</p>
                      </span>
                    </div>
                  </div>
                  <div>
                    <b-button
                      v-if="isOpenQueue && roomSelected !== room._id"
                      variant="primary"
                      size="sm"
                      @click="roomSelected = room._id"
                    >
                      Select
                    </b-button>
                    <b-button
                      v-if="
                        $store.state.account.permission === 'admin' &&
                        !isOpenQueue
                      "
                      variant="danger"
                      size="sm"
                      class="ml-1"
                      @click="confirmDelete(room)"
                    >
                      <b-icon icon="trash"></b-icon>
                    </b-button>
                  </div>
                </b-card-body>
              </b-card>
            </b-row>
          </template>
          <b-row class="justify-content-center" v-else>
            <h5>Not found rooms</h5>
          </b-row>
        </b-col>
        <b-col cols="8" v-if="isOpenQueue && rooms.length > 0">
          <RoomPanel :roomIdProp="roomSelected" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import RoomCreateButton from "@/components/room/RoomCreateButton";
import RoomService from "@/services/RoomService";
import DateService from "@/services/DateService";
import QueueTypeService from "@/services/QueueTypeService";
import UserService from "@/services/UserService";
import SettingService from "@/services/SettingService";
import RoomPanel from "@/components/room/RoomPanel";

export default {
  name: "RoomManage",
  components: {
    RoomCreateButton,
    RoomPanel,
  },
  data() {
    return {
      isOpenQueue: true,
      company: null,
      rooms: [],
      queueTypes: [],
      users: [],
      roomSelected: "",
    };
  },
  methods: {
    formatDate(date) {
      return DateService.toThaiDate(date);
    },
    async fetchRooms() {
      const roomsResponse = await RoomService.getRoomsByUser();
      this.rooms = [];
      this.rooms = roomsResponse.data || [];
    },
    async fetchQueueTypes() {
      const queueTypesResponse = await QueueTypeService.getQueueTypes();
      this.queueTypes = [];
      this.queueTypes = queueTypesResponse.data || [];
    },

    async fetchUsers() {
      const usersResponse = await UserService.getUsers(this.company || "");
      this.users = [];
      this.users =
        usersResponse.data?.filter((data) => data.permission !== "admin") || [];
    },
    confirmDelete(room) {
      this.$bvModal
        .msgBoxConfirm(`Are you sure? for delete Room ${room.number}`, {
          title: "Please Confirm",
          okTitle: "YES",
          cancelTitle: "NO",
        })
        .then(async (value) => {
          if (value) {
            const response = await RoomService.deleteRoom({
              _id: room._id,
            });
            if (response && response.success) {
              this.$notify({ type: "success", text: `${response.message}` });
              this.fetchRooms();
            } else {
              this.$notify({ type: "error", text: `${response.message}` });
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    goToRoom(roomId) {
      this.$router.push(`/room/${roomId}`);
    },
  },
  async created() {
    this.company = localStorage.getItem("company")
      ? JSON.parse(localStorage.getItem("company"))
      : null;
    this.company = this.company ? this.company._id : null;

    this.isOpenQueue = (await SettingService.isOpenQueue()).data || false;
    await this.fetchRooms();
    await this.fetchQueueTypes();
    await this.fetchUsers();
  },
};
</script>

<style scoped>
.room-menu {
  max-height: 80vh;
  overflow-y: auto;
}
</style>
