<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <h4>Setting</h4>
    </b-row>
    <b-row class="m-0">
      <b-card class="w-100">
        <b-card-body class="row justify-content-between">
          <h5>Open Queue</h5>
          <div>
            <toggle-button
              :value="isOpenQueue"
              :sync="true"
              :labels="{ checked: 'ON', unchecked: 'OFF' }"
              :disabled="isPending"
              @change="onChangeEventHandler"
            />
          </div>
        </b-card-body>
      </b-card>
    </b-row>
  </div>
</template>
<script>
import SettingService from "@/services/SettingService";
export default {
  name: "Setting",
  components: {},
  data() {
    return {
      isOpenQueue: false,
      isPending: false,
    };
  },
  methods: {
    async onChangeEventHandler(event) {
      this.isPending = true;
      if (event.value) {
        await SettingService.openQueue();
        const responseOpenQueue = await SettingService.isOpenQueue();
        this.isOpenQueue = responseOpenQueue.data;
        this.isPending = false;
      } else {
        this.$bvModal
          .msgBoxConfirm(
            `When close queue, the remaining waiting queue will be destroyed.`,
            {
              title: "Are you sure?",
              okTitle: "YES",
              cancelTitle: "NO",
            }
          )
          .then(async (value) => {
            if (value) {
              await SettingService.closeQueue();
              const responseOpenQueue = await SettingService.isOpenQueue();
              this.isOpenQueue = responseOpenQueue.data;
              this.isPending = false;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
  },
  async created() {
    this.isPending = true;
    const responseOpenQueue = await SettingService.isOpenQueue();
    this.isOpenQueue = responseOpenQueue.data;
    this.isPending = false;
  },
};
</script>
