<template>
  <div class="pt-2 pb-2">
    <b-row class="m-0 justify-content-between py-3">
      <div>
        <h4 class="d-inline">
          {{ `User` }}
        </h4>
      </div>
      <UserCreateButton
        @on-create-success="fetchUsers"
        :companyProp="company || ''"
      ></UserCreateButton>
    </b-row>
    <b-row class="m-0">
      <b-table :fields="fields" :items="users" fixed responsive>
        <template #cell(action)="data">
          <UserEditButton
            :key="data.item._id"
            @on-create-success="fetchUsers"
            :companyProp="company || ''"
            :userProp="data.item"
          ></UserEditButton>
          <UserResetPasswordButton
            :key="`reset-${data.item._id}`"
            :userProp="data.item"
          ></UserResetPasswordButton>
          <UserDeleteButton
            v-if="showDelete(data.item._id)"
            :key="`delete-${data.item._id}`"
            :userProp="data.item"
            @on-delete-success="fetchUsers"
          ></UserDeleteButton>
        </template>
      </b-table>
    </b-row>
  </div>
</template>
<script>
import UserCreateButton from "../components/user/UserCreateButton.vue";
import UserEditButton from "@/components/user/UserEditButton";
import UserDeleteButton from "@/components/user/UserDeleteButton";
import UserService from "@/services/UserService";
import UserResetPasswordButton from "@/components/user/UserResetPasswordButton";

export default {
  name: "SuperUserManage",
  components: {
    UserCreateButton,
    UserEditButton,
    UserDeleteButton,
    UserResetPasswordButton,
  },
  data() {
    return {
      company: null,
      users: [],
      fields: [
        {
          key: "email",
          label: "Email",
        },
        {
          key: "name",
          label: "Name",
        },
        {
          key: "tel",
          label: "Tel",
        },
        {
          key: "permission",
          label: "Permission",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
    };
  },
  methods: {
    async fetchUsers() {
      const usersResponse = await UserService.getUsers(this.company || "");
      this.users = usersResponse.data || [];
    },
    showDelete(userId) {
      if (userId !== JSON.parse(localStorage.getItem("user"))._id) return true;
      return false;
    },
  },
  async created() {
    this.company = localStorage.getItem("company")
      ? JSON.parse(localStorage.getItem("company"))
      : null;
    this.company = this.company ? this.company._id : null;
    await this.fetchUsers();
  },
};
</script>

<style scoped>
.link:hover {
  cursor: pointer;
}
</style>
