<template>
  <div class="bg-dark text-white w-100">
    <b-container class="p-0">
      <b-navbar class="my-navbar justify-content-between">
        <b-navbar-nav>
          <h3>Queue</h3>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <router-link
            v-if="$store.state.account"
            to="/profile"
            class="text-white mr-3 ml-3 align-self-center"
          >
            {{ $store.state.account.name }}
          </router-link>
          <b-button variant="light" v-b-toggle.sidebar-backdrop v-if="isShow()">
            Menu
          </b-button>
        </b-navbar-nav>
      </b-navbar>
    </b-container>
    <Sidebar v-if="isShow()" />
  </div>
</template>

<script>
import Sidebar from "@/components/Sidebar";

export default {
  name: "Header",
  components: {
    Sidebar,
  },
  data() {
    return {};
  },
  methods: {
    isShow() {
      if (localStorage.getItem("user")) return true;
      return false;
    },
  },
};
</script>

<style>
.my-navbar {
  height: 60px;
}
</style>
