<template>
  <div>
    <b-sidebar
      id="sidebar-backdrop"
      title="Queue Menu"
      backdrop
      shadow
      bg-variant="dark"
      header-class="text-white"
      body-class="text-white"
    >
      <div class="px-3 py-2">
        <ul>
          <template v-for="nav in navs">
            <li :key="nav.name" v-if="isShow(nav)">
              <router-link
                :to="nav.path || ''"
                :class="{ 'mb-2 mt-2': true, 'nav-parent': nav.children }"
              >
                {{ nav.name }}
              </router-link>
              <hr class="m-1 bg-white" v-if="nav.children" />
              <ul v-if="nav.children">
                <template v-for="navChild in nav.children">
                  <li
                    class="nav-child"
                    :key="navChild.name"
                    v-if="isShow(navChild)"
                  >
                    <router-link :to="navChild.path || ''" class="mb-2 mt-2">
                      {{ navChild.name }}
                    </router-link>
                  </li>
                </template>
              </ul>
            </li>
          </template>

          <li>
            <a @click="logout()"> Logout </a>
          </li>
        </ul>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      navs: [
        {
          name: "BACKYARD",
          children: [
            {
              name: "Dashboard",
              path: "/dashboard",
              permission: ["super_admin", "admin", "user"],
            },
            {
              name: "Room",
              path: "/room",
              permission: ["admin", "user"],
            },
            {
              name: "Queue Type",
              path: "/queue-type",
              permission: ["admin", "user"],
            },
            {
              name: "My QR Code",
              path: "/my-qr",
              permission: ["admin", "user"],
            },
            {
              name: "User",
              path: "/user",
              permission: ["super_admin", "admin"],
            },
            {
              name: "Setting",
              path: "/setting",
              permission: ["admin"],
            },
            {
              name: "Company",
              path: "/company",
              permission: ["super_admin"],
            },
          ],
        },
        {
          name: "QUEUE REGISTER",
          path:
            this.$store.state.account.permission === "super_admin"
              ? `/queue-register`
              : `/queue-register?company=${
                  JSON.parse(localStorage.getItem("company"))._id
                }`,
        },
        {
          name: "QUEUE MONITORING",
          path:
            this.$store.state.account.permission === "super_admin"
              ? `/queue-monitoring`
              : `/queue-monitoring?company=${
                  JSON.parse(localStorage.getItem("company"))._id
                }`,
        },
      ],
    };
  },
  methods: {
    isShow(nav) {
      if (nav.children && nav.children.length > 0) {
        return true;
      }

      const user = localStorage.getItem("user")
        ? JSON.parse(localStorage.getItem("user"))
        : null;
      if (nav.permission && nav.permission.indexOf(user.permission) === -1) {
        return false;
      }
      return true;
    },
    logout() {
      localStorage.clear();
      this.$store.commit("setAccount", null);
      this.$router.replace({ name: "Login" });
    },
  },
};
</script>

<style>
#sidebar-backdrop * {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

li {
  padding-bottom: 1rem;
}

a {
  text-decoration: none !important;
}

a:hover {
  font-weight: bolder;
}

.nav-child {
  padding-left: 2rem;
}

.nav-parent,
.nav-parent:hover {
  cursor: default;
  /* font-weight: bold; */
}
</style>
