<template>
  <div>
    <b-button variant="outline-primary" @click="showModal()">
      New Room
    </b-button>
    <b-modal
      ref="create-room-modal"
      id="create-room-modal"
      title="Create Room"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="Select QueueType :">
          <b-row>
            <b-col
              v-for="queueType in queueTypesProp"
              :key="queueType._id"
              cols="12"
              md="6"
              class="pb-4"
            >
              <b-card
                @click="onSelectQueueType(queueType._id)"
                class="link"
                :border-variant="
                  queueTypeSelected.includes(queueType._id) ? 'success' : ''
                "
              >
                <b-card-body class="p-0">
                  <h5>{{ queueType.title }} ({{ queueType.code }})</h5>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group label="Select User :">
          <b-row>
            <b-col
              v-for="user in usersProp"
              :key="user._id"
              cols="12"
              md="6"
              class="pb-4"
            >
              <b-card
                @click="onSelectUser(user._id)"
                class="link"
                :border-variant="
                  usersSelected.includes(user._id) ? 'success' : ''
                "
              >
                <b-card-body class="p-0">
                  <h5>{{ user.name }}</h5>
                  <p class="text-muted">{{ user.email }}</p>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import RoomService from "@/services/RoomService";

export default {
  name: "RoomCreateButton",
  components: {},
  props: ["queueTypesProp", "usersProp"],
  data() {
    return {
      queueTypeSelected: [],
      usersSelected: [],
    };
  },
  methods: {
    onSelectQueueType(queueTypeId) {
      if (this.queueTypeSelected.includes(queueTypeId)) {
        this.queueTypeSelected = this.queueTypeSelected.filter(
          (item) => item !== queueTypeId
        );
      } else {
        this.queueTypeSelected.push(queueTypeId);
      }
    },
    onSelectUser(userId) {
      if (this.usersSelected.includes(userId)) {
        this.usersSelected = this.usersSelected.filter(
          (item) => item !== userId
        );
      } else {
        this.usersSelected.push(userId);
      }
    },
    showModal() {
      this.$bvModal.show(`create-room-modal`);
    },
    hideModal() {
      this.$bvModal.hide(`create-room-modal`);
    },
    resetModal() {
      this.queueTypeOptions = [
        { value: "", text: "Please select queue type" },
        ...this.queueTypesProp.map((value) => ({
          value: value._id,
          text: value.title,
        })),
      ];
      this.queueTypeSelected = [];
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      await this.handleSubmit();
    },

    async handleSubmit() {
      if (this.queueTypeSelected.length === 0) {
        this.$notify({
          type: "error",
          text: `Please select queue type at least 1.`,
        });
        return;
      }

      if (this.usersSelected.length === 0) {
        this.$notify({
          type: "error",
          text: `Please select user at least 1.`,
        });
        return;
      }
      const responseCreate = await RoomService.createRoom({
        queueTypes: this.queueTypeSelected.join(","),
        users: this.usersSelected.join(","),
      });
      if (!responseCreate.success) {
        this.$notify({ type: "error", text: `${responseCreate.message}` });
      } else {
        this.$emit("on-create-success");
      }
      this.hideModal();
    },
  },
  watch: {
    queueTypesProp: function () {
      this.resetModal();
    },
    usersProp: function () {
      this.resetModal();
    },
  },
  async created() {
    this.resetModal();
  },
};
</script>
<style scoped>
.link:hover {
  cursor: pointer;
}
</style>
