<template>
  <div>
    <b-row
      class="m-0 justify-content-between pb-3"
      v-if="roomIdProp && room && !loadingRoom"
    >
      <div>
        <h4 class="d-inline">Room {{ room ? room.number : "???" }}</h4>
      </div>
    </b-row>
    <b-container class="p-0">
      <b-row v-if="roomIdProp && room && !loadingRoom">
        <b-col class="col-12 mb-4">
          <b-card class="w-100" header="Current Queue">
            <b-card-body class="pb-4 pt-4">
              <b-row class="m-0">
                <section
                  class="w-100"
                  v-if="room && room.currentQueue && room.currentQueue.waiting"
                >
                  <b-row class="justify-content-center">
                    <h1>
                      {{
                        `${room.currentQueue.noForQueueType}${room.currentQueue.queueType.code}`
                      }}
                    </h1>
                  </b-row>
                  <b-row class="justify-content-center">
                    <h5>{{ room.currentQueue.queueType.title }}</h5>
                  </b-row>

                  <b-row class="justify-content-center">
                    <b-card class="w-100">
                      <b-card-body class="p-1">
                        <section>
                          <h6 class="text-muted">Contact</h6>
                          <hr class="m-0" />
                          <p class="text-muted">
                            {{ room.currentQueue.name || "" }}
                            <span v-if="room.currentQueue.tel"
                              >({{ room.currentQueue.tel }})</span
                            >
                          </p>
                        </section>
                      </b-card-body>
                    </b-card>
                  </b-row>
                </section>
                <section class="text-center w-100" v-else>
                  <h1>-</h1>
                </section>
              </b-row>
            </b-card-body>

            <b-row class="justify-content-end m-0">
              <b-button
                class="mr-1"
                variant="danger"
                :disabled="isPending"
                @click="onNextQueue(true)"
                >Destroy</b-button
              >
              <b-button
                variant="success"
                :disabled="isPending"
                @click="onNextQueue()"
                >Next</b-button
              >
            </b-row>
          </b-card>
        </b-col>
        <b-col class="col-12">
          <h5 class="mb-3">Forward Queue</h5>
          <b-table
            :fields="forwardQueueFields"
            :items="forwardQueues"
            fixed
            responsive
            show-empty
            emptyText="No queue for next !"
          >
            <template #cell(index)="data">
              {{ data.index + 1 }}
            </template>
            <template #cell(queue)="data">
              {{ `${data.item.noForQueueType}${data.item.queueType.code} ` }}
            </template>
            <template #cell(queueType)="data">
              {{ `${data.item.queueType.title} ` }}
            </template>
            <template #empty="scope">
              <p class="text-center">{{ scope.emptyText }}</p>
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row v-if="!roomIdProp && !loadingRoom">
        <b-col class="justify-content-center">
          <h5 class="text-center">Select room for manage</h5></b-col
        >
      </b-row>
      <b-row v-if="loadingRoom">
        <b-col class="justify-content-center">
          <h5 class="text-center">Loading data . . .</h5></b-col
        >
      </b-row>
    </b-container>
  </div>
</template>
<script>
import RoomService from "@/services/RoomService";
import QueueService from "@/services/QueueService";

export default {
  name: "RoomPanel",
  props: ["roomIdProp"],
  components: {},
  data() {
    return {
      room: null,
      loadingRoom: false,
      isPending: false,
      forwardQueues: [],
      forwardQueueFields: [
        {
          key: "index",
          label: "No",
        },
        {
          key: "queue",
          label: "Queue",
        },
        {
          key: "queueType",
          label: "Queue Type",
        },
      ],
    };
  },
  methods: {
    async onNextQueue(destroy = false) {
      this.isPending = true;
      const previousQueueId = this.room.currentQueue?._id || null;
      const response = await QueueService.nextQueue({
        roomId: this.room._id,
        destroy: destroy,
      });

      if (response.success) {
        const responseRoom = await RoomService.getRoomById(this.room._id || "");
        this.room = responseRoom.success ? responseRoom.data : null;
        this.$root.socket.emit("next_queue", {
          roomId: this.room._id,
          nextQueueId: response.data || null,
          previousQueueId,
        });
        this.$notify({ type: "success", text: `${response.message}` });
      } else {
        this.$notify({ type: "warn", text: `${response.message}` });
      }

      this.isPending = false;
    },
    async fetchForwardQueue() {
      const response = await QueueService.getForwardQueue(this.room._id);
      if (response.success) {
        this.forwardQueues = response.data;
      }
    },
  },
  watch: {
    roomIdProp: async function (val) {
      this.room = null;
      this.forwardQueues = [];
      if (val) {
        this.loadingRoom = true;
        const response = await RoomService.getRoomById(val);
        this.room = response.success ? response.data : null;
        await this.fetchForwardQueue();
        this.loadingRoom = false;
      }
    },
  },

  mounted() {
    this.$root.socket.on("next_queue", () => {
      if (this.room) this.fetchForwardQueue();
    });

    this.$root.socket.on("create_queue", () => {
      if (this.room) this.fetchForwardQueue();
    });
  },
  metaInfo() {
    return {
      title: "Queue Management- Room",
    };
  },
};
</script>

<style scoped>
.link:hover {
  cursor: pointer;
}
</style>
