<template>
  <div>
    <b-button variant="primary" size="sm" @click="showModal()">
      <b-icon icon="pencil"></b-icon>
    </b-button>
    <b-modal
      :ref="`room-edit-modal-${room._id}`"
      :id="`room-edit-modal-${room._id}`"
      title="Edit Room"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          id="status-group"
          label="Status :"
          label-for="status-select"
        >
          <b-form-select
            id="status-select"
            v-model="roomForm.status"
            :options="status"
            required
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import RoomService from "@/services/RoomService";

export default {
  name: "RoomEditButton",
  components: {},
  props: ["roomProp"],
  data() {
    return {
      room: null,
      status: [
        {
          value: "open",
          text: "Open",
        },
        {
          value: "pause",
          text: "Pause",
        },
        {
          value: "close",
          text: "Close",
        },
      ],
      roomForm: {
        _id: null,
        status: "open",
      },
    };
  },
  methods: {
    showModal() {
      this.$bvModal.show(`room-edit-modal-${this.room._id}`);
    },
    hideModal() {
      this.$bvModal.hide(`room-edit-modal-${this.room._id}`);
    },
    resetModal() {
      this.resetRoomForm();
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      await this.handleSubmit();
    },
    async handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }

      const payload = {
        _id: this.room._id,
        open: this.roomForm.status === "open",
        pause: this.roomForm.status === "pause",
        close: this.roomForm.status === "close",
      };
      const response = await RoomService.editRoom(payload);

      if (response.success) {
        this.$bvModal.hide(`room-edit-modal-${this.room._id}`);
        this.$emit("on-edit-success");
      } else {
        alert(response.message);
      }
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return valid;
    },
    resetRoomForm() {
      if (this.room.open) this.roomForm.status = "open";
      else if (this.room.pause) this.roomForm.status = "pause";
      else this.roomForm.status = "close";
    },
  },
  watch: {
    roomProp: function () {
      this.room = this.roomProp;
      this.resetRoomForm();
    },
  },
  async created() {
    this.room = this.roomProp;
    this.resetRoomForm();
  },
};
</script>
