<template>
  <div id="app">
    <b-container
      fluid
      class="p-0 vh-100 m-0"
      v-if="this.$route.meta && this.$route.meta.layout"
    >
      <Header />
      <b-container fluid class="p-0 content-scroll">
        <b-container>
          <router-view />
        </b-container>
      </b-container>
    </b-container>
    <b-container fluid class="p-0 vh-100 m-0" v-else>
      <router-view />
    </b-container>
    <notifications position="top center" width="375" />
  </div>
</template>

<script>
import Header from "@/components/Header";

export default {
  components: {
    Header,
  },

  created() {},
};
</script>

<style>
.content-scroll {
  max-height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}
</style>
